/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

/* Main board containing the main header */
.main-board {
  padding-top: 14rem;
  padding-bottom: 14rem;
  margin-bottom: 0rem;
  border-radius: 0px;
  color:white;
  background-color: #FFF;
  background-image: linear-gradient(to right bottom, black -20%,white 250%), url("https://raw.githubusercontent.com/ilya-kupchenko/ilya-kupchenko.github.io/master/fractal-1120769_1920.jpg");
  background-blend-mode: darken;
  background-size: cover;

}

/* Grey board for social sharing buttons */
.social-sharing-board {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  border: 0;
  border-style: none;
}

/* Social sharing buttons */
.btn-social {
  color: white;
  opacity: 0.8;
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 9px;
  margin: 0;
  border: 0;
  border-style: none;
  font-size: 16px;
} 

.btn-social:hover, .btn-social:focus {
  opacity:1;
  color: white;
  border:0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.fa {
  position:relative;
}

.portfolio-article-container {
  float:left;
  font-size:14px;
  font-weight:normal;
  line-height:23.8px;
  padding-right:24px;
  margin-bottom:0px;
  margin-left:-16px;
  margin-right:-16px;
  margin-top:20px;
  width:73%;
  transition-delay:0s;
  transition-duration:0.25s;
  transition-property:all;
  transition-timing-function:ease;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.portfolio-article {
	width: 33.3%;
	float: left;
	margin-bottom: 45px;
}