/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
  padding-bottom: none;
  background-color: #DDD;
}

/* Main board containing the main header */
.main-board {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 0rem;
  border-radius: 0px;
  color:white;
  background-color: #FFF;
  background-image: linear-gradient(to right bottom, black -75%,white 200%), url("https://raw.githubusercontent.com/ilya-kupchenko/ilya-kupchenko.github.io/master/fractal-1120769_1920.jpg");
  background-blend-mode: darken;
  background-size: cover;

}

/* Grey board for social sharing buttons */
.social-sharing-board {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  border: 0;
  border-style: none;
  text-align: center;
}

/* Social sharing buttons */
.btn-social {
  color: white;
  opacity: 0.8;
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 9px;
  margin: 0;
  border: 0;
  border-style: none;
  font-size: 20px;
  line-height: normal;
} 

.btn-social:hover, .btn-social:focus {
  opacity:1;
  color: white;
  border:0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.fa {
  position:relative;
}

.card {
  padding: 5px;
  margin 5px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  border:none;
}

.card:active, .card:focus {
  box-shadow: none;
}

.card-columns {
  margin-top: 20px;
}

.footer {
  background: #999;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding-top:50px;
  color: white;
}

.footer .fluid-container {
  background: #333;
  padding-top: 20px;
}

.bootstrap4-logo {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  display: inline-block;
  background-image: url("bootstrap4-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;  
}

.project-tag {
  border-radius: 4px;
  padding: 4px 8px;
  margin: 3px;
  display: inline-block;
  background-color: #888;
  color: #333;
  transition: 0.3s;
}

.project-tag:hover {
  background-color: #DDD;
  cursor: pointer;
}